.not-found {
  background-color: #f0f7f7;
  width: 80%;
  margin: 0 auto;
  padding: 250px 0;

  @media (max-width: 480px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  img {
    width: 200px;
    float: right;
    @media (max-width: 480px) {
      width: 30%;
      margin: 0 auto;
      float: none;
      margin-top: 20px;
    }
  }
  .row {
    justify-content: space-between;
    margin: 20px;
  }
}

.btn-primary {
  background-color: #4b8bbb;
  border-color: #4b8bbb;
}
